html {
  min-width: 320px;
  font-size: 13px;
}

*, *:after, *:before {
  box-sizing: border-box; 
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

article {
  margin: 25px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgb(170, 170, 170);
}

article h2 {
  margin: 0 0 0.8rem 0;
}

.wrapper {
  background-color: rgba(170, 35, 100, 1);
  position: relative;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.pink-bg {
  background-color: rgba(170, 35, 100, 1);
  color: white;
}

.cover {
  background: url("../img/cover.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 480px;
  text-align: center;
}

.cover-wrap {
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.vertical-align {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.cover-name span {
  display: block;
}

.cover-tagline {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.cover-tagline:after {
  content: "";
  border-bottom: solid 3px rgba(206, 60, 129, 1);
  display: block;
  width: 55px;
  margin: 12px auto;
}

.scrolldown a {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.scrolldown i {
  color: rgba(255, 255, 255, 0.8);
}

.scrolldown i:focus,
.scrolldown i:hover,
.scrolldown i:active {
  color: rgba(255, 255, 255, 1);
}

.profile {
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
  margin: 3rem 0;
}

.profile h2 {
  margin: 1.2rem;
}

.profile-img {
  width: 100%;
  height: 220px;
}

.profile-img img {
  height: 100%;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.4) 10px solid;
}

.profile-text{
  padding: 0 2rem;
}

.social {
  margin-top: 1.2rem;
}

.social-list a {
  font-size: 30px;
}

.cv {
  flex: 1;
  -webkit-flex: 1;
  background-color: white;
}

.label-skill {
  background-color: rgb(211, 211, 211);
  margin: 4px;
  padding: 8px;
  border-radius: 1px;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
  section {
    text-align: left;
  }
  .wrapper {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .cover-name {
    letter-spacing: 10px;
  }
  .profile {
    margin: 0;
  }
  .cv {
    margin-right: -1px;
    padding: 15px;
  }
  .profile-img {
    padding: 1rem;
  }
}
